@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,800i|Titillium+Web:700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #efebeb;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
    font-size: 1.4rem;
    color: #f56b2a;
	background-color: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.filter {
	padding: 0 15px;
}

.filter h2 {
	font-weight: 700;
}

.filter > div:nth-child(1) {
	margin: 15px 0 35px 0;
}

.filter > div {
	margin: 10px 0;
}

.filter > div:nth-child(2) {
	display: flex;
}

.orange {
	color: #f56b2a;
}

.filter > div:nth-child(2) > .margin15 {
	margin-left: 15px;
}

.filter select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 110%;

	height: auto;
	border: 0; 
	margin: 0;
	padding: .8em .75em;
    border-radius: 0;
    font-size: .9em;
    font-weight: 300;
	background-color: #fff;

	overflow: hidden;
	text-overflow: ellipsis;
}

.filter > div:nth-child(3) { 
	position: relative;
	border: rgb(196, 196, 196) 1px solid;
    margin: 0 0 1.5em 0;
    border-radius: 5px;

	overflow: hidden; 
}

.filter > div:nth-child(3)::after { 
	content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}

.annonces {
	display: flex;
	background-color: #fff;
	position: relative;
	margin-bottom: 1.2rem;
	transition: all .3s cubic-bezier(0.4, 0, 1, 1)
}

.annonces:hover {
	box-shadow: 1px 1px 8px 1px #cad1d9;
}

.annonces:hover h2 {
	color: #f56b2a;
}

.annonces > div:nth-child(2) {
	padding: 10px 0;
	margin-left: 15px;
}

.annonces h2, .annonces p {
	font-weight: 700;
}

.annonces ul {
	font-size: .7em;
}

.annonces p {
	color: #f56b2a;
	margin-bottom: 73px;
}

.annonces h2 {
	margin-bottom: 5px;
}

.annonces i {
	position: absolute;
	top: 10px;
	right: 10px;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #474747;
	color: #FFF;
	padding: 15px 7px;
}

footer p {
	font-size: .8em;
}

footer div .fa {
	font-size: 1.3em;
}
